{
  "token": "",
  "join_message": "I has joined to do stuff 🌟",
  "owners": [
    86477779717066752
  ],
  "prefix": [
    "!",
    "?"
  ],
  "activity": "games!",
  "activity_type": "playing|watching|listening|competing",
  "status_type": "online|idle|dnd",
  "version": "2.0.2"
}